.size {
    width: 80px;
    border-radius: 4px;
    text-align: center;
}

.colortr {
    background-color: #cd73ea;
}

.center{text-align: center;}

.table{
    table-layout: fixed;
    width: 110px;
}

th, td {
    border: 1px solid blue;
    width: 100px;
    word-wrap: break-word;
}