/*
.border {
    table-layout: auto; width: 60%;
    border-collapse: collapse;
}

tr, td, th{ 
    border: 1px solid grey;
}
*/

.table{
    table-layout: fixed;
    width: 110px;
}

th, td {
    border: 1px solid blue;
    width: 300px;
    word-wrap: break-word;
}

.center {
    justify-content: center;
}

.color {
    background-color: #36286B;
    color: rgb(255, 255, 255)
    
}