.border {
    table-layout: auto; width: 60%;
    border-collapse: collapse;
}

tr, td, th{ 
    border: 1px solid grey;
}

.center {
    justify-content: center;
}

.color {
    background-color: #8bb832;
    
}