.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding: 20px;*/
    display: inline-block;
}

.wrapper h1 {
    text-align: center;
    width: 100%;
}

/*Para mantener el mismo tamaño de las imagenes*/
.imgProducto {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.center{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.imgcec {
    position: relative;
    left: 20px;
    
    position: relative;
    top: -120px;
    left: -243px;
    width: 457px;
    height: 260px;
    display: block;
    z-index: 999;
    /* Para ver la transformación mejor */
    border: 1px solid red;
  }